.footer__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.01em;
  text-align: center;

  @media (max-width: $max-tablet-width) {
    margin: 0;
    font-size: 24px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 18px;
  }
}

.footer__address {
  width: 555px;
  margin: 30px auto 42px;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  color: fade-out($black, 0.3);

  @media (max-width: $max-tablet-width) {
    width: auto;
    margin: 20px auto;
  }

  @media (max-width: $max-mobile-width) {
    padding: 0 16px;
  }
}

.footer__map {
  max-width: 957px;
  height: 530px;
  margin: 0 auto;
  position: relative;

  @media (max-width: $max-tablet-width) {
    width: auto;
    height: 545px;
    margin: 20px auto;
    padding: 0 35px;
  }

  @media (max-width: $max-mobile-width) {
    margin: 0;
    padding: 0;
    height: 250px;
  }
}

.footer__iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.footer__contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 37px 0 76px 0;
  padding: 0;

  @media (max-width: $max-tablet-width) {
    margin: 20px 0 35px 0;
  }

  @media (max-width: $max-mobile-width) {
    flex-direction: column;
    margin: 18px 0 50px 0;
    align-items: center;
  }
}

.footer__contacts-item {
  margin: 0 53px 20px 36px;

  @media (max-width: $max-tablet-width) {
    margin: 0 50px 20px 40px;
  }

  @media (max-width: $max-mobile-width) {
    margin: 11px 0 9px 10px;
  }
}

.footer__contacts-link {
  padding-left: 40px;
  font-size: 16px;
  line-height: 24px;
  color: fade-out($black, 0.5);
  position: relative;

  &:hover,
  &:focus {
    color: fade-out($black, 0.75);
  }

  &:active {
    color: $black;
  }

  &::before {
    content: "";
    position: absolute;
  }

  &--mail::before {
    background-image: url("../img/icon-mail.svg");
    top: 3px;
    left: -1px;
    width: 26px;
    height: 20px;
  }

  &--phone {
    @media (max-width: $max-mobile-width) {
      margin-right: 25px;
    }
  }

  &--phone::before {
    background-image: url("../img/icon-phone.svg");
    top: 0;
    left: 3px;
    width: 22px;
    height: 24px;
  }
}
