.page {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  color: $black;
  height: 100%;
}

.page__about {
  margin-top: 150px;

  @media (max-width: $max-tablet-width) {
    margin-top: 0;
  }
}

.page__kinds {
  margin-top: 150px;

  @media (max-width: $max-tablet-width) {
    margin-top: 28px;
  }

  @media (max-width: $max-mobile-width) {
    margin-top: 40px;
  }
}

.page__video {
  margin-bottom: 248px;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 155px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 119px;
  }
}
