.video {
  background: linear-gradient(to bottom, $video-bg 88%, $white 88%);

  @media (max-width: $max-tablet-width) {
    background: linear-gradient(to bottom, $video-bg 83%, $white 83%);
  }

  @media (max-width: $max-mobile-width) {
    background: linear-gradient(to bottom, $video-bg 88%, $white 88%);
  }
}

.video__wrapper {
  @include center(929px);
  padding-top: 120px;

  @media (max-width: $max-tablet-width) {
    max-width: 503px;
    padding-top: 70px;
  }

  @media (max-width: $max-mobile-width) {
    width: 100%;
    padding: 84px 16px 0;
  }
}

.video__wrapper h2 {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: $white;
  margin-top: 0;
  margin-bottom: 20px;

  @media (max-width: $max-tablet-width) {
    font-size: 24px;
  }
}

.video__wrapper p {
  @include center(340px);
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.01em;
  color: $white;
  opacity: 0.7;
  margin-bottom: 56px;

  @media (max-width: $max-tablet-width) {
    max-width: 429px;
    margin-bottom: 40px;
  }

  @media (max-width: $max-mobile-width) {
    max-width: 100%;
    margin-bottom: 50px;
  }
}

.video__video {
  width: 100%;
  height: 522px;
  position: relative;

  @media (max-width: $max-tablet-width) {
    height: 282px;
  }

  @media (max-width: $max-mobile-width) {
    height: auto;
  }
}

.video__img {
  width: 100%;
  height: auto;
}

.video__play {
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  background-color: $bright;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 23px 23px 23px 28px;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $max-tablet-width) {
    width: 90px;
    height: 90px;
    padding: 32px 32px 32px 39px;
  }

  @media (max-width: $max-mobile-width) {
    width: 65px;
    height: 65px;
    padding: 23px 23px 23px 28px;
  }
}

.video__play-icon {
  width: 14px;
  height: 19px;

  @media (max-width: $max-tablet-width) {
    width: 18px;
    height: 25px;
  }

  @media (max-width: $max-mobile-width) {
    width: 14px;
    height: 19px;
  }
}
